/* 
f4f1de
e07a5f
3d405b
81b29a
f2cc8f
 */
/* <a href='https://www.freepik.com/vectors/background'>Background vector created by rawpixel.com - www.freepik.com</a> */
/* <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a> */

body {
    background-color: antiquewhite;
    /* background-image: url("/assets/malte-wingen-PDX_a_82obo-unsplash.jpg"); */
 }
.parent {
    margin: auto;
    /* border: solid #81b29a; */
    background-image: url("assets/397.jpg");
    display: grid;
    grid-template-areas:    "header header"
                            "image main";
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    box-shadow: 1px 1px 5px 1px #f2cc8f;
}
.child {
    background-color: #f4f1de;
    /* border: 1px solid black; */
}
/* Header */
.header {
    grid-area: header;
    height: 100px;
    background-color: #f4f1de;
    /* border-bottom: #81b29a 1px solid; */
}

/*  */
.image {
    grid-area: image;
    /* width: 50%; */
}
img {
    height: 400px;
    width: 400px;
    
    margin: 10px;
}
/*  */
.main {
    grid-area: main;
    padding: 5px;
    /* width: 50%; */
    text-align: center;
}
audio {
    visibility: hidden;
}
/* Button */

/* button {
    outline: none;
    margin: auto;
    background: #e0e0e0;
    cursor: pointer;
    border: none;
    padding: .4em .8em;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    box-shadow: 1px 1px 1px 1px black;
} */

/* button:hover
{
    background: #e6e6e6;
    color: #f2cc8f;
} */

/* button:active
{
    background: #d6d6d6;
   
} */
/* https://webdeasy.de/en/top-css-buttons-en/#:~:text=%2030%20cool%20CSS%20Buttons%20%E2%80%93%20with%20animations%21,%2020%2027%20Gooey%20Menu.%20%20More */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #e07a5f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e07a5f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* Text */
h1 {
    font-family: 'Poppins', sans-serif;
    color: #f4f1de;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px #3d405b;
    
}
h2 {
    font-family: 'Poppins', sans-serif;
    color: #e07a5f;
}